<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/frontend :: head(~{::title}, ~{::link})">
	<link th:href="@{/css/estilos.css}" rel="stylesheet" />
	</head>
	<body>
		
		<div class="container">
			<header th:replace="layout/frontend :: cabecero"></header>
			<div th:replace="layout/frontend :: menu"></div>
		</div>
		
		 <main class="container">
		 <h1>AJAX</h1>
			
			<a href="javascript:void(0);" onclick="carga_ajax_get('/templates/peticion', 'maría', 'ajax');">Haz clic</a>
			
			<div id="ajax"></div>
		
		 </main>
	
	
	
	<footer th:replace="layout/frontend :: footer"></footer>
	
	 <div th:replace="layout/frontend :: scripts"></div>
	 <script type="text/javascript">
			 function carga_ajax_get(ruta, valor, div) 
			 {
				     $.get(ruta, { valor: valor }, function(resp) {
				         $("#" + div + "").html(resp);
				     });
				     return false;
				
				 }
		</script>
	</body>
</html>